html {
width:100%;
font-size:16px;
}

body {
width:max-content;
height:max-content;
overflow:auto;
padding:0;
margin:0;
background-image:url("corkboard-background.png");
}

mapicon {
color:blue;
font-size:1.5rem;
margin-right:1%;
}

.circling {
width:40px;
height:auto;
position:absolute;
z-index:3;
opacity:0;
pointer-events: none;
left:0%;
top:0%;
}

#mapspace {
width:1800px;
height:1340px;
background-color:white;
margin-left:100px;
margin-right:100px;
margin-top:50px;
-webkit-box-shadow: 10px 5px 13px 0px rgba(0,0,0,0.64);
box-shadow: 10px 5px 13px 0px rgba(0,0,0,0.64);
position:relative;
border: 4px solid black;
margin-bottom:50px;
}

.circled {
position:absolute;
opacity:0;
pointer-events:all;
width:10%;
}

.circled img {
width:100%;
height:100%;
}

#mainmapholder {
width:1800px;
height:1050px;
position:relative;
}

#maploader {
width:1780px;
height:1021px;
background-color:white;
position:absolute;
top:0%;
left:0%;
display:flex;
align-content: center;
justify-content: center;
align-items: center;
text-align:center;
color:#00B9F2;
font-size:2rem;
font-family: 'Open Sans', sans-serif;
transition:opacity 2s;
pointer-events: none;
}

#maploader span {
border:5px double #00B9F2;
padding:1%;
}

#mapholder {
width:96%;
margin-left:2%;
margin-right:2%;
height:96%;
margin-top:2%;
margin-bottom:2%;
border: 6px double #00B9F2;
overflow:hidden;
}

#legendspace {
width:1800px;
height:264px;
border-bottom:solid 4px black;
opacity:0.9;
z-index:3;
position:relative;
}

#legendspace a {
text-decoration:underline;
color:black;
}

#legendlink a {
display:flex;
align-items:center;
}

#legendtitle {
width: 400px;
padding-left: 1%;
font-family: 'Open Sans', sans-serif;
height: 100%;
float:left;
padding-top:1%;
}

#logo {
color: #4B399A;
width: 450px;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
margin-top:2%;
}

#logo span {
float:right;
font-size:3rem;
text-align:left;
width:340px;
padding-left:3%;
line-height:77%;
}

#logo span sup {
font-size:1rem;
}

#logo img {
float:left;
width:90px;
}

#mapnumber {
margin-top:4%;
font-size:1rem;
}

#maptitle {
margin-top:3%;
font-size:2rem;
}

#mapscale {
font-size:0.8rem;
margin-top:3%;
}

#legendinfo {
width:1378px;
height:100%;
float:right;
display:flex;
}

.legendlink {
width:100%;
display:block;
display: flex;
align-items: center;
font-size:0.9rem;
}

.linktext a:hover {
color:green;
}

#legendspace a:hover {
color:green;
}

.legendlink img {
width: 9%;
height:auto;
margin-right: 4%;
}



#refreshbutton {
font-family:'Roboto', sans-serif;
font-size:1rem;
background-color: #CA0061;
color:white;
border: solid 3px #CA0061;
padding:2.5%;
width:45%;
text-align:center;
cursor:pointer;
margin-top:4%;
border:none;
transition:0.2s;
transition-timing-function: ease-in-out;
transform-origin: center;
}

#refreshbutton:hover {
border-left: 5px double white;
border-bottom:3px solid black;
border-right:3px solid black;
transition: border 0.2s;
transition-timing-function: ease-in-out;
}

#refreshbutton span{
display:inline-block;
transition:transform 0.3s;
}

#legendbox {
font-family:'Open Sans', sans-serif;
width:25%;
margin-right:2%;
}

#legendinfo div h1 {
font-size:1.5rem;
border:2px solid green;
color:green;
text-align:center;
width:max-content;
padding-left:1%;
padding-right:1%;
}

.placename span {
width:max-content;
background-color:rgba(255,255,255,0.5);
}

.legendentry {
width:100%;
display:block;
margin-bottom:2%;
}

#mainmap {
width:100%;
height:100%;
}

.placename {
font-family: 'Open Sans', sans-serif;
position: absolute;
opacity:0.9;
 -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

color: transparent;
font-weight:bolder;
transition:border 0.3s;
width:14%;
}

.placename span {
cursor:pointer;
max-width:135px;
word-wrap: break-word;
display:inline-block;
}

.right {
text-align:left;
}

.left {
text-align:right;
}

.one {
font-size: 0.54rem;
letter-spacing: -0.5px;
text-shadow: 0 0 0.86px #000;
transform: scale(100%,105%);
opacity:1;
}

.two {
font-size: 0.656rem;
letter-spacing: -0.3px;
text-shadow: 0 0 0.03px #000;
transform: scale(100%,113%);
opacity:0.88;
}

.three {
font-size: 0.66rem;
letter-spacing: -0.5px;
text-shadow: 0 0 0.7px #000;
font-weight: bolder;
transform: scale(100%,118%);
opacity:0.88;
}

.four {
font-size: 0.75rem;
letter-spacing: -0.5px;
text-shadow: 0 0 0.7px #000;
font-weight: bolder;
transform: scale(100%,118%);
opacity:0.88;
}

.placenamepopup {
position:absolute;
background-color:white;
-webkit-box-shadow: 10px 5px 13px 0px rgba(0,0,0,0.64);
box-shadow: 10px 5px 13px 0px rgba(0,0,0,0.64);
padding:1%;
font-family:'Open Sans', sans-serif;
font-size:0.9rem;
border:4px solid black;
width:400px;
border: 6px double #00B9F2;
display:none;
z-index:2;
height: 395px;
}

#clicktext {
width: max-content;
color: #CA0061;
border: 3px double #CA0061;
text-align: center;
font-size: 1rem;
padding: 1%;
}

#placenamerepo {
display:block;
border:none;
color:#00B9F2;
font-family:'Open Sans', sans-serif;
font-size:1.4rem;
text-align:center;
margin-left:auto;
margin-right:auto;
margin-bottom:2%;
opacity:1;
}

.cancelbutton {
font-size:1.1rem;
position:absolute;
top:2%;
left:2%;
color: #00B9F2;
cursor:pointer;
}

.placenamepopup em {
margin-bottom:2%;
}

#etym {
width:95%;
display:block;
padding:1%;
font-family:'Open Sans', sans-serif;
font-size:1rem;
margin-left:auto;
margin-right:auto;
margin-top:2%;
}

#submitbutton {
font-size:1rem;
color: white;
background-color: #CA0061;
padding:2.5%;
width:max-content;
text-align:center;
margin-left:auto;
margin-right:auto;
cursor:pointer;
display:block;
border:none;
transition: border-bottom 0.3s, border-left 0.3s, border-right 0.3s;
transition-timing-function: ease-in-out;
margin-top:2%;
width:43%;
}

#badgen {
font-size:1rem;
color: white;
background-color: #CA0061;
padding:2.5%;
width:max-content;
margin-left:auto;
text-align:center;
cursor:pointer;
margin-left:auto;
margin-right:auto;
display:block;
border:none;
transition: border-bottom 0.3s, border-left 0.3s, border-right 0.3s;
transition-timing-function: ease-in-out;
margin-top:2%;
width:43%;
}

#interact {
display:flex;
width:100%;
text-align:right;
flex-direction: row;
}

#badgen:hover {
border-left: 5px double white;
border-bottom:3px solid black;
border-right:3px solid black;
transition: border 0.3s;
transition-timing-function: ease-in-out;
}

#mobilecover {
opacity:1;
background-color: white;
width:100%;
height:100%;
overflow:hidden;
z-index:5;
position:fixed;
left:0;
top:0;
pointer-events: none;
display:none;
align-items: center;
justify-content: center;

}

#mobilecover span {
width:max-content;
color:#00B9F2;
font-family:'Open Sans', sans-serif;
font-size:3.4rem;
border: 4px double #00B9F2;
text-align:center;
padding:1%;
width:70%;
}



#submitbutton:hover {
border-left: 5px double white;
border-bottom:3px solid black;
border-right:3px solid black;
transition: border 0.3s;
transition-timing-function: ease-in-out;
}

#apologia {
position:absolute;
bottom:0;
right:0;
font-size:11px;
text-align:right;
opacity:0.5;
transition:opacity 0.3s;
font-family:'Open Sans', sans-serif;
cursor:pointer;
z-index:1;
padding-right:1.5%;
padding-bottom:0.1%;
}

#apologia:hover {
opacity:1;
}

#arrow1 {
position:fixed;
bottom:50%;
right:1%;
font-size:4rem;
color:#CA0061;
opacity:0;
transition:opacity 0.3s;
}

#arrow2 {
position:fixed;
bottom:1%;
right:50%;
font-size:4rem;
color:#CA0061;
opacity:0;
transition:opacity 0.3s;
}


.button {
border: 2px solid black;
padding:1%;
width:30%;
text-align:center;
display:inline-block;
}

#map {
position: absolute;
width: 31%;
height: 100vh;
top: 0%;
left: 0%;
background-image:url("map.png");
background-size:cover;
}

#title {
font-size:3rem;
font-family: 'Roboto', sans-serif;
text-align:right;
color:#FDAB05;
width:80%;
margin-left:auto;
margin-right:auto;
margin-top:4%;
}

#blurb {
font-family: 'Roboto', sans-serif;
font-size:1rem;
color:#2083F0;
position:absolute;
bottom:4%;
right:5%;
text-align:right;
width:60%;
}

svg {
position:absolute;
top:0;
left:0;
z-index:2;
}

@media only screen
and (min-device-width: 768px)
and (max-device-width : 1024px)
and (orientation: portrait)
{
#mobilecover {
display:flex;
}
}

@media only screen
and (max-device-width: 850px)
and (max-device-height: 500px)
{
#mobilecover {
display:flex;
}
}

@media only screen
and (max-device-width: 500px)
and (max-device-height: 850px)
{
#mobilecover {
display:flex;
}
}
